body {
	background-color: #FFFFFF;
	padding-top: 50px;
}
.content {
	padding: 40px 15px;
	text-align: center;
}

.error {
	color: red;
}

#welcomeText {
	display: none;
}

#errorText {
	display: none;
}

#loadedText {
	display: none;
}

#maps {
	width: 100%;
}

.station {
	background-color: #FAFAFA;
	box-shadow: 10px 10px 5px #888888;
	padding: 15px;
	margin-bottom: 50px;
}

.stationName {
	font-size: 2.0em;
	cursor: pointer;
}
.distance {
	margin-left: 10px;
	font-size: 1.0em;
}

.departureList {
	margin-top: 60px;
}
.departureListEntry {
	font-size: 2em;
	margin-bottom: 15px;
}

.departureTable {
	border: none;
}

.number {
	text-align: left;
	width: 10%;
	font-weight: bold;
}

.direction {
	text-align: left;
	width: 70%;
	font-size: 0.5em;
}

.departure {
	text-align: right;
	width: 20%;
	font-size: 0.5em;
}

.station .stationName {
	float: left;
}

.station .distance {
	float: right;
}

.ui-autocomplete {
	z-index: 1000;
}

